{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/post.css'%}">
    <title>Posts</title>
</head>
<body>
    <a href="{% url 'new' %}">Новый пост</a>
    <a href="{% url 'post_list' %}">Список всех постов</a>
    <a href="{% url 'rating' %}">Рекомендации</a>
    <a href="{% url 'show_category'%}">Категории</a><br><br>

    {% if user.is_authenticated %}
        <p>
            Привет, {{ user.username }}!
            <a href="{% url 'logout' %}">(Выйти из аккаунта)</a>
        </p>
    {% else %}
        <p>
            Вы не авторизированы
            <a href="{% url 'login' %}">(Войти)</a>
            <a href="{% url 'signup' %}">(Регистрация)</a>
        </p>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>