{% extends 'post/base.html' %}
    {% block content%}

    {% load mptt_tags %}
    <ul>
    {% recursetree categories %}
        <li>
            {{ node.name }}

            {% if node.is_leaf_node %}
                <a href="{% url 'post_in_category' category_pk=node.pk %}">(перейти)</a>
            {% endif %}

            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}


        </li>
    {% endrecursetree %}
    </ul>

    {% endblock %}
