{% extends 'post/base.html' %}
    {% block content%}

    {% for post in posts %}
        <div>
            <a href="{% url 'post_detail' post_pk=post.pk%}">{{ post.title }}</a>
        </div>
    {% endfor %}

    {% if drafts %}
        Черновики({{draft_counter}}):
        {% for draft in drafts %}
            <div>
                <a href="{% url 'post_detail' post_pk=draft.pk%}">{{ draft.title }}</a>
            </div>
        {% endfor %}
    {% endif %}

    {% endblock %}