{% extends 'post/base.html' %}

    {% block content %}
    КАТЕГОРИЯ: {{ post.category }}<br><br>

        {{ post.title }}<br>
        {{ post.text }}<br>
        Рейтинг: {{ post.rating }}<br><br>
        {% if post.image %}
            <img src="{{ post.image.url }}"  alt="{{ post.title }}"><br>
        {% endif %}


        {% for t in post.tag.all %}
            <a href="{% url 'tags' tag_pk=t.pk %}">{{ t.text }}</a><br>
        {% endfor %}<br>


        <a href="{% url 'post_like' post_pk=post.pk %}">Мне нравится:</a>
        {{ post.likes }}
        <a href="{% url 'post_dislike' post_pk=post.pk %}">Мне не нравится:</a>
        {{ post.dislikes }}<br>

        Дата публикации поста: {{ post.date }}<br>
        Количество просмотров: {{ post.counter }}<br><br>

        <a href="{% url 'post_edit' post_pk=post.pk %}">Редактировать</a>
        <a href="{% url 'post_delete' post_pk=post.pk %}">Удалить</a><br><br>

        Комментарии({{ comments.counter }}): <br>
        {% for com in comments %}
            {{ com.author }}<br>
            {{ com.text }}<br>
            {{ com.date }}<br>
            <a href="{% url 'comment_delete' post_pk=post.pk comment_pk=com.pk %}">Удалить комментарий</a>
            <a href="{% url 'comment_edit' post_pk=post.pk comment_pk=com.pk %}">Редактировать комментарий</a><br><br>
        {% endfor %}

        <a href="{% url 'post_comment' post_pk=post.pk %}">Комментировать</a><br><br>

        {% if post.draft %}
            <a href="{% url 'draft_publish' post_pk=post.pk %}">Опубликовать</a><br><br>
        {% endif %}


    {% endblock %}
