{% extends 'post/base.html' %}

    {% block content %}

        <form method="POST" action="">{%csrf_token%}
            {{ form.as_p }}
            <button type="submit">Редактировать пост</button>
        </form>

    {% endblock %}