{% extends 'post/base.html' %}

    {% block content %}

    <form method="POST" action="">{%csrf_token%}
        {{comment_form.as_p}}
        <button type="submit">Комментировать</button>
    </form>

    {% endblock %}
