{% extends 'post/base.html' %}

    {% block content %}

    <form method="POST" enctype="multipart/form-data">{%csrf_token%}
        {{form.as_p}}
        <button type="submit">Сохранить</button>
    </form>

    {% endblock %}
